sudo: false

language: python

matrix:
  include:
    - {python: 3.5, env: TOX_ENV=py35}
    - {python: 3.6, env: TOX_ENV=py36}
    - {python: 3.7, env: TOX_ENV=py37}
    - {python: 3.8, env: TOX_ENV=py38}
    - {env: TOX_ENV=cover}
    - {env: TOX_ENV=flake8}
    - {env: TOX_ENV=docs}

install:
    - pip install tox
    - pip install cython
script:
    - tox -e $TOX_ENV
