sudo: false

language: python
env:
    - TOX_ENV=py27
    - TOX_ENV=py33
    - TOX_ENV=py34
    - TOX_ENV=cover
    - TOX_ENV=flake8
    - TOX_ENV=docs
install:
    - pip install tox
script:
    - tox -e $TOX_ENV
